<div class="dashboard">
  <!-- Barra lateral -->
  <aside class="sidebar">
    <h3><i class="bi bi-laptop"></i> Dimaja</h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white fw-bold d-flex align-items-center" [routerLink]="'/inicio'" routerLinkActive="active">
          <i class="bi bi-house"></i> Inicio
        </a>
      </li>
    
      <!-- Submenú Productos -->
      <li class="nav-item">
        <a class="nav-link text-white fw-bold d-flex align-items-center submenu-toggle submenu-toggle-productos"
          href="#" (click)="toggleSubmenu($event, 'productos')">
          <i class="bi bi-box"></i> Productos
          <i class="bi ms-auto bi-chevron-down" [ngClass]="{'open': submenuProductos}"></i>
        </a>
        <ul class="nav flex-column ms-3 submenu submenu-productos" [ngClass]="{'submenu-open': submenuProductos}">
          <li class="nav-item">
            <a class="nav-link text-white fw-bold rounded" [routerLink]="'/productos'" routerLinkActive="active">
              <i class="bi bi-list"></i> Lista de Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold rounded" [routerLink]="'/stock'" routerLinkActive="active">
              <i class="bi bi-plus-circle"></i> Agregar Stock
            </a>
          </li>
        </ul>
      </li>
    
      <!-- Submenú Usuarios -->
      <li class="nav-item">
        <a class="nav-link text-white fw-bold d-flex align-items-center submenu-toggle submenu-toggle-usuarios" href="#"
          (click)="toggleSubmenu($event, 'usuarios')">
          <i class="bi bi-people"></i> Usuarios
          <i class="bi ms-auto bi-chevron-down" [ngClass]="{'open': submenuUsuarios}"></i>
        </a>
        <ul class="nav flex-column ms-3 submenu submenu-usuarios" [ngClass]="{'submenu-open': submenuUsuarios}">
          <li class="nav-item">
            <a class="nav-link text-white fw-bold rounded" [routerLink]="'/usuarios'" routerLinkActive="active">
              <i class="bi bi-list"></i> Lista de Usuarios
            </a>
          </li>
        </ul>
      </li>
    </ul>    

    <!-- Botón de Cerrar Sesión -->
    <div class="logout-btn-container">
      <button class="logout-btn" (click)="onLogout()">Cerrar Sesión</button>
    </div>
  </aside>

  <div class="main-content">
    <!-- Barra superior -->
    <header class="topbar">
      <div class="welcome-message">
        <i class="bi bi-person-circle"></i> <!-- Icono de usuario -->
        <span>Bienvenido, Admin</span>
      </div>
    </header>

    <!-- Contenido principal -->   
    </div>
</div>
