<!-- Barra de navegación -->
<app-navbar></app-navbar>

<div class="container">

    <div class="header">
        <h2>Todos los Productos</h2>
        <input type="text" id="searchInput" placeholder="Buscar Producto..." class="search-box"
            (input)="filtrarProductos($event)">
        <button class="pdf-button" (click)="generarPDF()">
            <i class="bx bx-file"></i> Exportar a PDF
        </button>
        <button class="add-button" (click)="openModal()">Agregar Nuevo Producto</button>
    </div>

    <!-- Tabla de usuarios -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres Productos</th>
                <th>Img</th>
                <th>Marca</th>
                <th>Valor Compra</th>
                <th>Valor Venta</th>
                <th>Stock</th>
                <th>Categorías</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productosFiltrados">
                <td>{{ producto.id_productos }}</td>
                <td class="custom-nombre_productos">{{ producto.nombres_productos }}</td>
                <td>
                    <img [src]="producto.img" alt="Imagen del producto" class="img-fluid zoom-effect"
                        style="width: 50px; height: 50px;">
                </td>
                <td>{{ producto.marca }}</td>
                <!-- Mostrar valores en soles peruanos -->
                <td class="custom-stock-style"> S/ {{ producto.valor_compra | number:'1.2-2' }}</td> <!-- Formato de dos decimales -->
                <td class="custom-stock-style"> S/ {{ producto.valor_venta | number:'1.2-2' }}</td> <!-- Formato de dos decimales -->
                <td *ngIf="producto && (producto.stockDisponible !== null && producto.stockDisponible !== undefined)"
                    [ngClass]="{
                        'text-danger': producto.stockDisponible < 5, 
                        'text-success': producto.stockDisponible >= 5,
                        'font-weight-bold': true
                        }">
                    {{ producto.stockDisponible || 0 }} <!-- Si el valor es null o undefined, muestra 0 -->
                </td>

                <td>{{ getCategoriaName(producto.id_categorias) }}</td>
                <td>
                    <!-- Botones para editar y eliminar producto -->
                    <button class="icon-button" (click)="seleccionarProductoEditar(producto)">
                        <i class="bx bx-edit"></i>
                    </button>
                    <button class="icon-button" (click)="eliminarProductos(producto.id_productos)">
                        <i class="bx bx-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>



    <!-- Modal para Agregar Productos -->
    <div class="modal" [class.show]="modalVisible">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>Agregar Producto</h2>
            <div class="modal-form">
                <!-- Formulario para agregar nuevo usuario -->
                <div class="form-group" hidden>
                    <label for="id">ID:</label>
                    <input [(ngModel)]="nuevoProducto.id_productos" id="id" name="id" required />
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input [(ngModel)]="nuevoProducto.nombres_productos" id="nombre" name="nombre" required />
                </div>
                <div class="form-group">
                    <label for="img">Imagen:</label>
                    <div class="input-container">
                        <!-- Input para ingresar una URL de imagen -->
                        <input *ngIf="usarUrl" type="text" [(ngModel)]="nuevoProducto.img"
                            placeholder="Pegar URL de imagen" class="input-url form-control" />

                        <!-- Input para seleccionar un archivo de imagen -->
                        <input *ngIf="!usarUrl" type="file" id="fileInput" (change)="onFileSelected($event)"
                            accept="image/*" class="input-file form-control" />

                        <!-- Botón para alternar entre URL y archivo -->
                        <button type="button" class="toggle-button btn btn-secondary" (click)="toggleInput()">
                            <i [class]="usarUrl ? 'bx bx-refresh' : 'bx bx-upload'"></i>
                        </button>
                    </div>

                    <!-- Vista previa de la imagen seleccionada -->
                    <div *ngIf="previewImage" class="preview-container">
                        <img [src]="previewImage" alt="Vista previa" class="preview-img" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="marca">Marca:</label>
                    <input [(ngModel)]="nuevoProducto.marca" id="marca" name="marca" required />
                </div>
                <div class="form-group">
                    <label for="valor_compra">Valor de Compra:</label>
                    <input type="number" [(ngModel)]="nuevoProducto.valor_compra" id="valor_compra" name="valor_compra"
                        required min="0" step="0.01" />
                </div>

                <div class="form-group">
                    <label for="valor_venta">Valor de Venta:</label>
                    <input type="number" [(ngModel)]="nuevoProducto.valor_venta" id="valor_venta" name="valor_venta"
                        required min="0" step="0.01" />
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria:</label>
                    <select [(ngModel)]="nuevoProducto.id_categorias" id="categoria" name="id_categorias" required>
                        <option value="" disabled selected>Seleccione una categoria</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id_categorias">
                            {{ categoria.nombre_categoria }}
                        </option>
                    </select>
                </div>
            </div>

            <!-- Botones del modal para agregar usuario -->
            <div class="modal-actions">
                <button class="confirm-button" (click)="guardarProductos()">Agregar</button>
                <button class="cancel-button" (click)="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Usuario -->
    <div class="modal" [class.show]="modalVisibleEditar">
        <div class="modal-content">
            <span class="close" (click)="closeModalEditar()">&times;</span>
            <h2>Editar Producto</h2>
            <div class="modal-form">
                <div class="form-group">
                    <label for="editNombre">Nombre:</label>
                    <input [(ngModel)]="productoEditar.nombres_productos" id="editNombre" required />
                </div>

                <div class="form-group">
                    <label for="editImagen">Imagen:</label>
                    <div class="input-container">
                        <!-- Input para ingresar una URL de imagen -->
                        <input *ngIf="usarUrlEditar" type="text" [(ngModel)]="productoEditar.img"
                            placeholder="Pegar URL de imagen" class="input-url form-control" />

                        <!-- Input para seleccionar un archivo de imagen -->
                        <input *ngIf="!usarUrlEditar" type="file" id="editFileInput"
                            (change)="onFileSelectedEditar($event)" accept="image/*" class="input-file form-control" />

                        <!-- Botón para alternar entre URL y archivo -->
                        <button type="button" class="toggle-button btn btn-secondary" (click)="toggleInputEditar()">
                            <i [class]="usarUrlEditar ? 'bx bx-refresh' : 'bx bx-upload'"></i>
                        </button>
                    </div>

                    <!-- Vista previa de la imagen seleccionada -->
                    <div *ngIf="previewImageEditar" class="preview-container">
                        <img [src]="previewImageEditar" alt="Vista previa" class="preview-img" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="editMarca">Marca:</label>
                    <input [(ngModel)]="productoEditar.marca" id="editMarca" required />
                </div>

                <div class="form-group">
                    <label for="editvalor_compra">Valor de Compras:</label>
                    <input type="number" [(ngModel)]="productoEditar.valor_compra" id="editvalor_compra" required />
                </div>

                <div class="form-group">
                    <label for="editvalor_venta">Valor de Venta:</label>
                    <input type="number" [(ngModel)]="productoEditar.valor_venta" id="editvalor_venta" required />
                </div>
                <div class="form-group">
                    <label for="editCategoria">Categoría:</label>
                    <select [(ngModel)]="productoEditar.id_categorias" id="editCategoria" required>
                        <option value="" disabled selected>Seleccione una categoría</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id_categorias">
                            {{ categoria.nombre_categoria }}
                        </option>
                    </select>
                </div>
            </div>

            <!-- Botones del modal para editar producto -->
            <div class="modal-actions">
                <button class="confirm-button" (click)="actualizarProducto()">Actualizar</button>
                <button class="cancel-button" (click)="closeModalEditar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>